rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }

    match /team_crests/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
    
    match /player_avatars/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }

    match /user_profiles/{userId}/{fileName} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /defaults/default_profile.png {
      allow read: if true;
      allow write: if false;
    }
  }
}
