button.player-card {
  display: flex;
  cursor: default;
}

.player-card.cursor-pointer {
  cursor: pointer;
}

.player-card .player-card-left {
  border-right: 2px solid var(--clr-bg-primary);
}

.player-card .player-card-left img {
  width: 60px;
  border-radius: 9999px;
  margin-right: 12px;
}

.player-card .player-card-right {
  flex-grow: 1;
}

.player-card .player-card-right .player-name,
#player-list .player-card .player-card-right .player-name,
button .player-card-right .player-name {
  font-size: 24px;
  border-bottom: 2px solid var(--clr-bg-primary);
  padding-left: 8px;
  text-align: left;
}

.player-card .player-stats,
#player-list .player-card .player-stats,
button .player-card .player-stats {
  display: flex;
  gap: 8px;
  margin-top: 4px;
  padding-left: 8px;
}

.player-card .category,
.player-card .score,
button .player-card .category,
button .player-card .score {
  font-size: 15px;
}
