.input-field {
  margin-top: 12px;
}

.input-field label {
  border: 1px solid var(--clr-bg-profile-header-pic);
  display: flex;
  border-radius: 4px;
  position: relative;
}

.input-field label.active {
  border-color: var(--clr-bg-blue);
  box-shadow: var(--clr-bg-blue) 0px 0px 0px 1px;
}

.input-field input {
  color: inherit;
  border: none;
  font-size: 17px;
  background-color: inherit;
  width: 100%;
}

.input-field input:focus {
  outline: none;
}

.input-field .input-wrapper {
  position: relative;
  margin-top: 16px;
  padding: 12px 8px 8px;
  width: 100%;
}

.input-field .input-placeholder {
  color: var(--clr-font-secondary);
  padding: 16px 8px 0px;
  line-height: 24px;
  font-size: 17px;
  position: absolute;
  transition:
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    font-size 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    padding-top 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.input-field .input-placeholder.active {
  color: var(--clr-bg-blue);
  padding: 8px;
  line-height: 16px;
  font-size: var(--fs-mili);
  transition:
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    font-size 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    padding-top 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.input-field .input-placeholder.active.no-color {
  color: var(--clr-font-secondary);
}

.input-field .error {
  color: var(--clr-error);
  font-size: var(--fs-mili);
  margin-top: 4px;
  display: none;
}

.input-field .error.active {
  display: block;
}
