:root {
  --clr-bg-primary: #121212;
  --clr-bg-secondary: #333333;
  --clr-bg-hover: rgb(231, 233, 234);

  /* font colors */
  --clr-font-primary: rgb(231, 233, 234);
  --clr-font-secondary: rgb(15, 20, 25);
  --clr-link-blue: rgb(20, 155, 240);

  /* border colors */

  /* font sizes */
  --fs-base: 15px;
  --fs-mili: 13px;
  --fs-h2: 20px;

  /* line heights */
}

body {
  font-family: 'Arial', sans-serif;
  font-size: var(--fs-base);
  background-color: var(--clr-bg-primary);
  color: var(--clr-font-primary);
}

#root-layout {
  height: 100vh;
  overflow-y: hidden;
}

#main {
  height: 100%;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  color: inherit;
  font-size: 100%;
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  background: inherit;
  border: none;
  outline: inherit;
  color: inherit;
}
